:root {
    --background_color: #FFF5E4;
    --standard_color: #FFE3E1;
    --point_color: #FFD1D1;
    --strong_color: #FF9494;
    --black: #000000;
    --white: #ffffff;

    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}
