{% extends 'base.html' %}

{% block content %}
  <h2>Article</h2>
  <a href="{% url 'articles:create' %}"><button>새로운 글 작성</button></a>
  <a href="{% url 'articles:articles' %}"><button>목록 보기</button></a><br /><br />
  [ {{ article.id }} ] 번 째 게시물 <br />
  {% if article.image %}
    <img class="imgs" src="{{ article.image.url }}" alt="{{ article.image }}" /><br />
  {% endif %}
  <p>제목 : {{ article.title }}</p>
  <p>작성자 : {{ article.author }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>생성일자 : {{ article.created_at }}</p>

  <div style="display: flex; margin-top: 5px;">
    {% if article.author == request.user %}
      <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" style="margin-right: 5px;">삭제하기</button>
      </form>
      <form action="{% url 'articles:update' article.pk %}" method="GET">
        {% csrf_token %}
        <button type="submit">수정하기</button>
      </form>
    {% endif %}
  </div>

  <br />
  <hr />
  {% if request.user.is_authenticated %}
    <h3>댓글 적기</h3>
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" value="작성" />
    </form>
  {% endif %}
  <br>
  {% if comments %}
  <h3>댓글</h3><hr>
  {% for comment in comments %}
  <ul>
    <p>작성자 : {{ comment.author }}</p>
    <p>내용 : {{ comment.content }}</p>
    <p>작성일 : {{ comment.created_at }}</p>
    {% if comment.author == request.user %}
    <form action="{% url 'articles:comment_delete' comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제" />
    </form>
    {% endif %}
  </ul>
  <hr />
  {% endfor %}
  {% endif %}
    <br>
{% endblock %}
