{% extends 'base.html' %}
{% load static %}

{% block style %}
  <style>
    .lable_size {
      width: 200px;
      text-align: center;
    }
    .table {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
    }
    .div_box {
      display: flex;
      flex-direction: column;
    }
  </style>
{% endblock %}

{% block content %}
  <div>
    <br />
    <h2>상품정보</h2> <hr />
  </div>

  <form action="{% url 'stores:update' {{ store.pk }} %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="table">
      <div>
        <label class="lable_size" for="id_image">상품이미지:</label>
      </div>
      <div class="div_box">
        <img id="preview"
          style="width: 300px; height: 300px;"
          src="{% if store.image %}
            {{ store.image.url }}
          {% else %}
            {% static 'store/image-gallery.png' %}
          {% endif %} " />
        <input type="file" name="image" accept="image/*" id="id_image" onchange="readURL(this);" />
      </div>
    </div>
    <div class="table">
      <label class="lable_size" for="id_title">상품명:</label>
      <input type="text" name="title" maxlength="50" required id="id_title" value="{{ store.title }}" />
    </div>
    <div class="table">
      <label class="lable_size" for="id_price">가격:</label>
      <input type="number" name="price" required id="id_price" value="{{ store.price }}" style="margin-right: 20px;" />포인트
    </div>
    <div class="table">
      <label class="lable_size" for="id_content">상품설명:</label>
      <textarea name="content" cols="40" rows="10" required id="id_content">{{ store.content }}</textarea>
    </div>
    <div style="display: flex; justify-content: right; margin: 50px 0 ;">
      <button type="submit" style="margin-right: 100px;">수정하기</button>
    </div>
  </form>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader()
        reader.onload = function (e) {
          document.getElementById('preview').src = e.target.result
        }
        reader.readAsDataURL(input.files[0])
      } else {
        document.getElementById('preview').src = ''
      }
    }
  </script>
{% endblock %}
