{% extends 'base.html' %}
{% load static %}

{% block style %}
  <style>
    .custom_box {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

  </style>
{% endblock %}

{% block content %}
  <br />
  <h1>회원프로필</h1> <hr /><br />
  <div class="custom_box">
    <div>
      <p>
        <label for="id_image">프로필 이미지:</label>
        <img id="preview"
          style="width: 300px;"
          src="{% if user.image %}
            {{ user.image.url }}
          {% else %}
            {% static 'accounts/user.png' %}
          {% endif %}" />
        <br />
      </p>
    </div>
    <div>
      <p>
        <label class="labels" for="id_username">아이디 : {{ user.username }}</label>
      </p>
      <p>
        <label class="labels" for="id_last_name">유저이름 : {{ user.last_name }}{{ user.first_name }}</label>
      </p>
      <p>
        <label class="labels" for="id_email">이메일 : {{ user.email }}</label>
      </p>
      <p>
        <label class="labels" for="id_point">보유 포인트 : {{ user.point }}</label>
      </p>
    </div>
  </div>
  <div style="display: flex; justify-content: end;">
    <a href="{% url 'accounts:update' %}" style="margin-right: 20px;"><button>수정하기</button></a>
    <a href="{% url 'accounts:delete' %}"><button>계정삭제</button></a>
  </div>
  <br />
  <h2>작성 게시글</h2> <hr /><br />
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for article in articles %}
      <a href="{% url 'articles:view' article.pk %}  ">
        <div class="col" style="width: 326px;">
          <div class="card" style="align-items: center;">
            <img class="imgs" src="{{ article.image.url }}" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">{{ article.title }}</h5>
              <p class="card-text">{{ article.price }} 포인트</p>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  <br>
{% endblock %}
